.git/
.gitignore
.github/
.sonarqube/

bin/
obj/
**/bin/
**/obj/

coverage/
zap-report/
**/TestResults/

OficinaMecanica.Api.UnitTests/
OficinaMecanica.Api.IntegrationTests/

.vs/
.vscode/
.idea/

Dockerfile*
docker-compose*.yml
README.md
*.md
*.http
.env
.env.*
!.env.example
